{% assign site_url = "http://127.0.0.1:4000" %}

{% assign proposition_title = "Wij stellen volgende maatregelen voor:" %}

{% assign share_button_text = "Deel" %}
{% assign twitter_button_text = "Twitter" %}
{% assign facebook_button_text = "Facebook" %}
{% assign email_button_text = "E-mail" %}
{% assign whatsapp_button_text = "Whatsapp" %}
{% assign share_link_title_text = "Deel dit thema met de link:" %}
{% assign share_social_title_text = "Of via sociale media:" %}

{% assign modal_share_button_text = "Deel deze maatregel" %}
{% assign modal_close_button_text = "Sluiten" %}
{% assign modal_share_link_title_text = "met de link:" %}
{% assign modal_share_social_title_text = "of via sociale media:" %}

{% assign extention_button_text = "ONTDEK ONZE VISIE OVER DIT THEMA" %}
