---
layout: default
---
<a href="./index.html">{{ site.data.text['topic']['back'] }}</a>
<h1>#GoLeft{{ page.index }}: {{ page.title }}</h1>

{% for quote in site.quotes %}
{% if quote.topic == page.index and quote.lang == site.active_lang %}
<blockquote>
{{ quote.content | markdownify }}
</blockquote>
{% endif %}
{% endfor %}

<img src="{{ ".." | append: page.image }}" />

<h2>{{ site.data.text['topic']['propositions'] }}</h2>
{% for proposition in site.propositions %}
{% comment %}
Following condition makes sure that the section belongs to this topic.
{% endcomment %}
{% if proposition.topic == page.index and proposition.lang == site.active_lang %}
<h4>{{ proposition.index }}. {{ proposition.title }}</h4>
{{ proposition.content | markdownify }}
{% endif %}
{% endfor %}

<h2>{{ site.data.text['topic']['vision'] }}</h2>
{% for vision in site.visions %}
{% comment %}
Following condition makes sure that the section belongs to this topic.
{% endcomment %}
{% if vision.topic == page.index and vision.lang == site.active_lang %}
{{ vision.content | markdownify }}
{% endif %}
{% endfor %}

<h3><a href="{{ ".." | append: page.flyer }}">{{ site.data.text['topic']['flyer'] }}</a></h3>
